---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach
FixNamespaceComments: true
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<maccortex/'
    Priority: 1
  - Regex: '^<(Metal|Foundation|Accelerate|simd)/'
    Priority: 3
  - Regex: '^<.*\.h>'
    Priority: 4
  - Regex: '^<.*>'
    Priority: 5
  - Regex: '.*'
    Priority: 2
